body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	color: white;
	max-width: 1030px;
}
.container {
	background-color: #1F2937;
	margin-right: auto;
	margin-left: auto;
	width:600px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #3A69D2;
}

.title {
	font-size: 40px;
	line-height: 40px;
	margin-top: 59px;
	font-weight: 800;
	margin-bottom: 10px;
}

.subtitle {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 59px;
	font-weight: 400;
}
.content {
	margin-right: 70px;
	margin-left: 70px;
	font-size: 12px;
}
.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
	
}

.button {
	background-color: #D1D4F4;
	padding: 12px 17px;
	border: 2px solid #FFFFFF;
	border-radius: 7px;
	font-size: 14px;
	white-space: nowrap;
}
button.button:active{
	transform: scale(0.95);
}
.button:not(:last-child) {
	margin-right: 30px;
}

.items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
	
}
.line {
	display: flex;
	justify-content: center;
}
.lineLogo {
	margin-top: 30px;
	width: 460px;
}
	.results {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}

	.submit {
		display: flex;
	}

	.priceDiv {
		display: flex;
		justify-content: space-between;

	}
	.total-price {
		font-size: 36px;
		font-weight: 600;
		margin-top: 0;
	}
	
	.submit-button{
		display: flex;
		align-items: center;
		background-color: #3A69D2;
		padding: 11px 180px 11px 180px;
		font-size: 14px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
		border-radius: 7px;
		color: white;
		margin-top: 30px;
		margin-bottom: 130px;
		white-space: nowrap;
	}
	button.submit-button:active{
		transform: scale(0.95);
	}

	.email {
		margin-right: 15px;
	}

	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;	
}
	.liClass {
		color: white;
		font-size: 20px;
		margin-top: 20px;
	}

	.liBtnClass {
		color: white;
		background: none;
		border: none;
		font-size: 10px;
		margin-left: 20px;
	}

	#li1BtnId{
		margin-left: 30px;
	}
	
	.spanClass {
		color: white;
		font-size: 24px;
		margin-left: auto;
	}
	
	/* modal */

.bground {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(26, 39, 156, 0.4);
  }
  
  .contentWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5% auto;
	width: 100%;
	max-width: 500px;
	background: #232323;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	color: #fff;
	padding-top: 10px;
  }

  .textBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .modalText {
	color: white;
	font-weight: bold;
	font-size: 50px;
	margin: 0;
  }


  

  .btn-thanks {
	  background-color: #3A69D2;
	  color: white;
	  border: none;
	  padding: 10px;
	  font-size: 20px;
	  border-radius: 10px;
	  margin-top: 10px;
	  cursor: pointer;
  }
  
  /* The Close Button */
.closeMod {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 32px;
	height: 32px;
	opacity: 1;
	cursor: pointer;
	transform: scale(0.7);
  }
  .closeMod:before,
  .closeMod:after {
	position: absolute;
	left: 15px;
	content: " ";
	height: 33px;
	width: 3px;
	background-color: #fff;
  }
  .closeMod:before {
	transform: rotate(45deg);
  }
  .closeMod:after {
	transform: rotate(-45deg);
  }

  .modalText{
	align-self: center;
  }
